ion-input, ion-datetime{
    background-color: rgb(238, 250, 255);
    margin-top: 5px;
    margin-bottom: 15px;
}

.btn-title{
    float: left;
    color: black;
    margin-left: 10px;
}

ion-title{
    margin-top:12px;
}

ion-select{
    background-color: rgb(238, 250, 255);
    margin-top: 5px;
}
