<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-button class="btn-title" (click)="backbtn()" fill="outline" color="medium"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>Agregar Movimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>
    <ion-list>
      <ion-item> 
        <ion-label>Tipo de Movimiento</ion-label>
        <ion-select [(ngModel)]="tipo_mov" multiple="false">
          <ion-select-option *ngFor="let sm of seleccion_mov;" [value]="sm">{{sm}}</ion-select-option>
        </ion-select>
    </ion-item>
    </ion-list>
  </p>

  <form  [formGroup]="formulario" (ngSubmit)="addmovimiento()">

    <div class="form-group ion-padding-bottom">
        <ion-label>Cantidad: </ion-label>
        <ion-input type="number" formControlName="cantidad_mov" class="form-control"></ion-input>
        <ion-text color="danger"><small *ngIf="cantidadNoValida" >La cantidad no puede menor de 0</small></ion-text>
    </div>

      <div class="form-group ion-padding-bottom">
      <ion-label>Descripción: </ion-label>
      <ion-input type="text" formControlName="descripcion_mov" class="form-control"></ion-input>
    </div>

    <div class="form-group ion-padding-bottom">
      <ion-label>Categoría: </ion-label>
      <ion-select formControlName="id_cat" multiple="false">
        <ion-select-option *ngFor="let c of categorias; let i = index" [value]="c">{{c.nombre_cat}}</ion-select-option>
      </ion-select>
      <ion-text color="danger"><small *ngIf="categoriaNoValida" >Este campo no puede estar vacío</small></ion-text>
    </div>

    <div *ngIf="!mostrarMovPer()" class="form-group ion-padding-bottom">
      <ion-label>Fecha del movimiento: </ion-label>
      <ion-datetime placeholder="Fecha del movimiento" formControlName="fecha_mov" [max]="today"></ion-datetime>
      <ion-text color="danger"><small *ngIf="cantidadNoValida" >Este campo no puede estar vacío</small></ion-text>
    </div>

    <div *ngIf="mostrarMovPer()">
      <div  class="form-group ion-padding-bottom">
        <ion-label>Fecha Inicio: </ion-label>
        <ion-datetime placeholder="Fecha del primer pago" formControlName="fecha_movper" [value]="fechaseleccionada" [max]="edadminima"></ion-datetime>
        <ion-text color="danger"><small *ngIf="fecha_movperNoValida" >Este campo no puede estar vacío</small></ion-text>
      </div>
      <div  class="form-group ion-padding-bottom">
        <ion-label>Periodicidad : </ion-label>
        <ion-input placeholder="Número de días hasta el siguiente pago" formControlName="periodicidad" required="true"></ion-input>
        <ion-text color="danger"><small *ngIf="periodicidadNoValida" >Este campo no puede estar vacío</small></ion-text>
      </div>
    </div>
    <ion-button type="submit" expand="block" fill="outline">Añadir {{tipo_mov}}</ion-button>

</form>

  

</ion-content>
