<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-button class="btn-title" href="categorias" fill="outline" color="medium"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>Crear categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>

      <ion-label>Nombre de la categoría: </ion-label>
      <ion-input required="true"></ion-input>

      <ion-label>Icono de la categoría: </ion-label>
      <ion-input></ion-input>

      <ion-label>Gasto límite (si tiene): </ion-label>
      <ion-input></ion-input>

      <ion-label>Categoría a la que pertenece (si tiene): </ion-label>
      <ion-input></ion-input>

      <ion-button type="submit" expand="block" fill="outline">Registrar Categoría</ion-button>

  </form>
  
</ion-content>
