<ion-header>
  <ion-toolbar>
    <ion-title>Error 404 Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <h1>PÁGINA NO ENCONTRADA</h1>
  <p>
    La página que está intentando visitar no existe o ha expirado. 
    Haga click en el botón para redirigirse a la página de Login de nuevo, 
    o si ya ha iniciado sesión será llevado a la página principal.
  </p>
  <ion-button type="button" (click)="redireccion()" expand="block" color="primary" fill="outline">Volver</ion-button>
</div>
</ion-content>
