<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    <ion-list>
      <ion-item> 
        <ion-label>Ingresos</ion-label>
        <ion-select [(ngModel)]="mes" multiple="false" (ionChange)="filtrarIngresos()">
          <ion-select-option *ngFor="let g of periodo;" [value]="g">{{g}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="block" fill="outline" (click)="backbtn()">Agregar Movimiento</ion-button>
  </p>

  <div *ngFor="let cat of categorias;" class="ion-padding divcards">
    <ion-card>
      <ion-item>
        <ion-icon name="{{cat.icono_cat}}" slot="start"></ion-icon>
        <ion-label color="success">{{cat.nombre_cat}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card *ngFor="let i of ingresosFiltrados;">
      <ion-item *ngIf="i.id_cat == cat.id_cat">
      <ion-label>{{i.descripcion_mov}}</ion-label>
      <ion-label>{{i.fecha_mov | date:'shortDate'}}</ion-label>
      <ion-label>{{i.cantidad_mov}} €</ion-label>
    </ion-item>
      </ion-card>
    </div>

</ion-content>
