<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  <ion-list>
    <ion-item> 
      <ion-label>Gastos</ion-label>
      <ion-select [(ngModel)]="tiempo" multiple="false">
        <ion-select-option *ngFor="let g of periodo;" [value]="g">{{g}}</ion-select-option>
      </ion-select>
  </ion-item>
</ion-list>
<ion-button expand="block" fill="outline" (click)="backbtn()">Agregar Movimiento</ion-button>
</p>

<div *ngFor="let cat of categorias;" class="ion-padding divcards">
  <ion-card>
    <ion-item>
      <ion-icon name="{{cat.icono_cat}}" slot="start"></ion-icon>
      <ion-label color="danger">{{cat.nombre_cat}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let subcat of cat.id_cat_padre;">
    <ion-item>
      <ion-icon name="{{subcat.icono_cat}}" slot="start"></ion-icon>
      <ion-label color="success">{{subcat.nombre_cat}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let g of gastos;">
    <ion-item *ngIf="g.id_cat == cat.id_cat">
    <ion-label>{{g.descripcion_mov}}</ion-label>
    <ion-label>{{g.fecha_mov}}</ion-label>
    <ion-label>{{g.cantidad_mov}} €</ion-label>
  </ion-item>
    </ion-card>
  </div>

</ion-content>
