<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-button class="btn-title" href="mainpage" fill="outline" color="medium"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form  [formGroup]="formulario" (ngSubmit)="addcuenta()">

    <div class="form-group ion-padding-bottom">
        <ion-label>Número de cuenta: </ion-label>
        <ion-input type="number" formControlName="num_cue" class="form-control"></ion-input>
        <ion-text color="danger"><small *ngIf="numNoValido" >Este campo no puede estar vacío</small></ion-text>
    </div>

      <div class="form-group ion-padding-bottom">
      <ion-label>Alias de la cuenta: </ion-label>
      <ion-input type="text" formControlName="nombre_cue" class="form-control"></ion-input>
    </div>

    <div class="form-group ion-padding-bottom">
      <ion-label>Propietario: </ion-label>
      <ion-input type="text" formControlName="propietario" class="form-control"></ion-input>
      <ion-text color="danger"><small *ngIf="propietarioNoValido" >Este campo no puede estar vacío</small></ion-text>
    </div>

      <div class="form-group ion-padding-bottom">
        <ion-label>Saldo</ion-label>
        <ion-input type="number" formControlName="saldo_cue" class="form-control"></ion-input>
        <ion-text color="danger"><small *ngIf="saldoNoValido" >Este campo no puede estar vacío</small></ion-text>
      </div>

      <ion-button type="submit" expand="block" fill="outline">Registrar Cuenta</ion-button>

  </form>
  
</ion-content>
