<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Política de Privacidad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Respecto a nuestras Políticas de Privacidad</h1>
  <p>
    Los datos proporcionados a esta aplicación no serán revelados a terceros, ni vendidos a otras empresas. 
  </p>
  <p>
      Sólo se recopilará el email para proceder al registro de su cuenta.<br>
  </p>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="footer bg-dark text-center">&copy; {{year}} Javier Manez</ion-title>
  </ion-toolbar>
</ion-footer>
