<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Previsión de Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Presupuesto general</h1>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Total por Categorías</ion-card-subtitle>
    <ion-card-title>Movimientos Anuales</ion-card-title>

  </ion-card-header>
  <ion-card-content>
    <canvas #barChart></canvas>
    
  </ion-card-content>
</ion-card>
<div class="ion-padding">
  <ion-item>
    <ion-label>Mes</ion-label>
    <ion-select [(ngModel)]="mes" multiple="false" (ionChange)="filtrarprevgastos()">
      <ion-select-option *ngFor="let p of periodo;" [value]="p">{{p}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngFor="let c of categorias;">
    <ion-label>{{c.nombre_cat}} = {{c.total_cat}}€</ion-label>
  </ion-item>
</div>


</ion-content>
