<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Cuenta : {{cuenta.num_cue}}</h1>
  <p>
    <ion-list>
      <ion-item> 
        <ion-label>Cuenta</ion-label>
        <ion-select [(ngModel)]="cuenta" multiple="false" (ionChange)=actualizacuenta()>
          <ion-select-option *ngFor="let c of cuentas; let i = index" [value]="c">{{c.num_cue}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-list>
    <ion-list>
      <ion-item >
        <ion-label [color]="colortexto"><b>Nº de cuenta:</b></ion-label>
        <ion-input type="text" value="{{cuenta.num_cue}}" [(ngModel)]="cuenta.num_cue" [readonly]="!modificando"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label [color]="colortexto"><b>Nombre de la cuenta:</b> </ion-label>
        <ion-input type="text" value="{{cuenta.nombre_cue}}" [(ngModel)]="cuenta.nombre_cue" [readonly]="!modificando"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label [color]="colortexto"><b>Propietario:</b> </ion-label>
        <ion-input type="text" value="{{cuenta.propietario}}" [(ngModel)]="cuenta.propietario"  [readonly]="!modificando"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label [color]="colortexto"><b>Saldo :</b></ion-label>
        <ion-input type="text" value="{{cuenta.saldo_cue}}" [(ngModel)]="cuenta.saldo_cue" [readonly]="!modificando"> </ion-input>
        <ion-label>€</ion-label>
      </ion-item>
  </ion-list>
  </p>
  <ion-button expand="block" (click)="addCuenta()" fill="outline" *ngIf="!modificando">Crear Cuenta</ion-button>
  <ion-button expand="block" fill="outline" (click)="modificando = !modificando && colortexto = 'danger'" *ngIf="!modificando">Modificar datos de la Cuenta</ion-button>
  <ion-button expand="block" fill="outline" (click)="borrarCuenta()" color="danger" *ngIf="!modificando">Borrar cuenta bancaria actual</ion-button>
  <ion-button expand="block" fill="outline" (click)="modificaCuenta()" color="success" *ngIf="modificando">Aceptar</ion-button>



</ion-content>
